[build-system]
requires = ["setuptools", "wheel"]
[bdist_wheel]
universal = 0  # Make the generated wheels have "py3" tag
[project]
name = "tidal-wave"
version = "2024.1.4"
description = "A tool to wave at the TIDAL music service."
authors = [
    {name = "colinho", email = "pypi@colin.technology"}
]
maintainers = [
    {name = "colinho", email = "pypi@colin.technology"}
]
license = {file = "LICENSE"}
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">= 3.8"
classifiers=[
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent"
]
dependencies = [
    "backoff",
    "dataclass-wizard",
    "ffmpeg-python",
    "mutagen",
    "m3u8",
    "platformdirs",
    "requests",
    "typer"
]
[project.optional-dependencies]
all = ["typer[all]"]
[project.scripts]
tidal-wave = "tidal_wave.main:app"
[project.urls]
Homepage = "https://github.com/ebb-earl-co/tidal-wave"
