altgraph==0.17.4
backoff==2.2.1
cachecontrol==0.14.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
dataclass-wizard==0.35.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.11
m3u8==6.0.0
markdown-it-py==4.0.0
mdurl==0.1.2
msgpack==1.1.2
mutagen==1.47.0
packaging==25.0
pip==25.2
platformdirs==4.3.8
pycryptodome==3.23.0
pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pysocks==1.7.1
requests==2.32.5
rich==14.2.0
ruff==0.14.1
setuptools==80.9.0
shellingham==1.5.4
typer==0.19.2
typing-extensions==4.15.0
urllib3==2.5.0
